.product-list {
  background: #f2f2f2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: auto;
  grid-row-gap: 5rem;
}

.product-img {
  width: 23vw;
  display: block;
  margin: auto;
}

.product-info {
  font-size: 0.825rem;
  text-align: left;
  margin-top: 1.5rem;
  padding: 2rem;
}

.product-container {
  width: 23vw;
  margin: auto;
  padding-bottom: 1rem;
}

.product-container:hover {
  box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.7);
}

.product-page-container {
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;
  background: #f2f2f2;
}

.swatch-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 1rem;
  margin: 0.5rem;
  padding: 3px;
  box-shadow: inset 0 0 3px 0 rgba(100, 100, 100, 0.7);
}

.product-page-img {
  width: 40vw;
  height: auto;
  object-fit: contain;
}

.product-grid {
  display: grid;
  max-width: 70vw;
  margin: auto;
  grid-template-columns: 40vw 30vw;
  box-shadow: 0 0 4px 0 rgba(100, 100, 100, 0.5);
}

.color-txt {
  margin-top: 1rem;
  font-size: 0.825rem;
}

.product-page-details {
  background: rgb(233, 233, 233);
}
